<div class="card">
  <div class="card-body">
      <div class="row">
          <div class="col-12 col-lg-6 my-1 my-lg-0">
              <button class="btn btn-primary" [disabled]="isAccountReadOnly()"

                      (click)="onUserClick(null)">
                  {{'USER.NEW_USER' | translate}}
              </button>
          </div>
          <div class="col-12 col-lg-6 my-1 my-lg-0">
              <form [formGroup]="searchFormGroup"
                  (ngSubmit)="getUsers()"
                    novalidate
                    autocomplete="off"
                    class="d-flex align-items-center">
                  <div class="input-group">
                      <input type="text"
                             class="form-control"
                             formControlName="freeText"
                             name="freeText"
                             placeholder="{{'COMMON.SEARCH' | translate}}">
                      <div class="input-group-append">
                          <button class="btn btn-outline-dark"
                                  (click)="clearSearch()"
                                  type="button">
                              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                          </button>
                      </div>
                      <div class="input-group-append">
                          <button class="btn btn-primary"
                                  type="submit">
                              <fa-icon [icon]="['fas', 'search']"></fa-icon>
                          </button>
                      </div>
                  </div>
                  <div class="ml-2 d-none d-lg-block">
                      <div class="custom-control custom-switch">
                          <input type="checkbox"
                                 name="includeDeactivated"
                                 class="custom-control-input"
                                 formControlName="includeDeactivated"
                                 id="includeDeactivated">
                          <label class="custom-control-label text-nowrap"
                                 for="includeDeactivated">
                              {{'USER.INCLUDE_DEACTIVATED' | translate}}
                          </label>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<div class="card flex-grow-1 mb-0"
   *ngIf="listReady">
  <div class="card-body d-flex">
      <!-- TABLE -->
      <ng-template [icBreakpoint]="[bootstrapBreakpoint.Large, bootstrapBreakpoint.XLarge]"
                   [icBreakpointElse]="smallGrid">
          <ic-grid [table]="gridTable.User"
                   rowSelection="single"
                   (selected)="onUserClick($event)"
                   [rows]="users"></ic-grid>
      </ng-template>
      <!-- LIST FOR SMALL SCREENS -->
      <ng-template #smallGrid>
          <ic-sm-grid [table]="gridTable.User"
                      (selected)="onUserClick($event)"
                      [rows]="users"></ic-sm-grid>
      </ng-template>


      <!-- <div class="row d-block d-lg-none">
          <div class="list-group">
              <ng-template [ngIf]="!users || users.length == 0"
                           [ngIfElse]="showUsersSmall">
                  <h4 class="text-center">
                      {{'USER.NO_USERS' | translate}}
                  </h4>
              </ng-template>
              <ng-template #showUsersSmall>
                  <button type="button"
                          *ngFor="let user of users"
                          [routerLink]="['../user', user.id]"
                          class="list-group-item list-group-item-action">
                      <p>
                          <b>
                              {{'USER.ID' | translate}}
                          </b>
                          <span>
                              {{user.id}}
                          </span>

                          <br>

                          <b>
                              {{'USER.NAME' | translate}}
                          </b>
                          <span>
                              {{user.fullName}}
                          </span>

                          <br>

                          <b>
                              {{'USER.USERNAME' | translate}}
                          </b>
                          <span>
                              {{user.username}}
                          </span>

                          <br>

                          <b>
                              {{'USER.ADDRESS' | translate}}
                          </b>
                          <span>
                              {{user.address?.fullAddress ? user.address.fullAddress : ' - '}}
                          </span>

                          <br>

                          <b>
                              {{'USER.MOBILE' | translate}}
                          </b>
                          <span>
                              {{user.mobile ? user.mobile : ' - '}}
                          </span>
                      </p>
                  </button>
              </ng-template>
          </div>
      </div> -->
  </div>
</div>
